---
const { tags } = Astro.props;
---

{tags?.length > 0 && (
  <div class="mt-10 flex flex-wrap gap-2">
    {tags.map(tag => (
      <span class="rounded-full bg-bg-muted px-3 py-1 text-xs font-medium">
        {tag}
      </span>
    ))}
  </div>
)}
